h1#milo-block-tic-tac-toe-game {
  font-size: 24px;
  text-align: center;
}

h1#milo-block-tic-tac-toe-game em {
  font-weight: 600;
  font-style: normal;
  color: gray;
}

.tictactoe > div:first-child {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 360px;
  height: auto;
  margin: auto;
  box-shadow: 0 0 25px 0;
  border-radius: 10px;
 }

.tictactoe > div:first-child > div {
  border: solid 1px #ccc;
  text-align: center;
  font-size: 140px;
  padding: 18px;
  color: #eee;
  cursor: pointer;
  height: 90px;
  line-height: 62px;
  font-weight: 800;
}
.tictactoe > div > div.x,
.tictactoe > div > div.o  {
  cursor: default;
}

.tictactoe > div > div.o {
  color: green
}
.tictactoe > div > div.x {
  color: red
}
.tictactoe > div.output > div {
    font-size: 24px;
    padding: 10px;
    color: #000;
    height: auto;
    width: 360px;
    text-align: center;
    margin: 30px auto;
    border: none
}
.tictactoe > div.output.ended > div {
  color: #fff;
  border: none;
  font-weight: 800;
  background: linear-gradient(0deg, #ff9900, #ffcc66);
  border-radius: 30px;
  border: solid 1px #ff9900;
  text-shadow: 1px 1px 1px #000;
}

.highlite {
  box-shadow: inset 0 0 10px 1px;
}
