h1#milo-block-tic-tac-toe-game {
  font-size: 18px;
  text-align: center;
}

h1#milo-block-tic-tac-toe-game em {
  font-weight: 600;
  font-style: normal;
  color: gray;
}

.tictactoe > div:first-child {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 360px;
      height: 360px;
      margin: auto;
  }

  .tictactoe > div > div {
      border: solid 1px #ccc;
      text-align: center;
      font-size: 100px;
      padding: 18px;
      color: #eee;
      cursor: pointer;
  }
  .tictactoe > div > div.x,
  .tictactoe > div > div.o  {
    cursor: default;
  }

  .tictactoe > div > div.o {
    color: green
  }
  .tictactoe > div > div.x {
    color: red
  }
  .tictactoe > div.output > div {
      font-size: 38px;
      color: #000;
      height: auto;
      width: 360px;
      text-align: center;
       margin: 20px auto;
  }
